#container-fluid
{
    width:100%;
}


header /* single selector */
{
    height:120px;
    background-color:rgb(235, 15, 52);
}


nav
{
    height:60px;
    background-color:rgb(9, 174, 250);
}


#sliders
{
    height:350px;
    background-color:rgb(6, 250, 6);
}



/*      *************MAIN SECTION BLOCKS STYLES ***********   */

main
{
    height:auto; /* you take how much you need for child sections of this parent */
}

/* section-1 Styles */

main .section1
{
background-color:#caec08;
height:350px;
width:96%;
margin:auto;
}

main .section1 .s1_columns
{
width:50%;
height:100%;
float:left;

}

/* section-1 Styles */


/*   section2_styles */

main .section2
{
background-color:rgb(13, 13, 236);
height:300px;
}

main .section2 .s2_columns
{
    width:33.3%;
    height:100%;
    float:left;
}
/*   section2_styles */



main .section3
{
background-color:rgb(71, 6, 73);
height:350px;
}


main .section3 .articles
{
width:25%;
float:left;
height:100%;
}



main .section4
{
background-color:rgb(240, 13, 13);
height:450px;
}

main .section4 .s4_article
{
width:70%;
height:100%;
float:left;
}


main .section4 .s4_sidebar
{
    width:30%;
    height:100%;
    float:right;
}



footer
{
    height:120px;
    background-color:indianred;
}




/* Colors */
.color1
{
    background-color:#897abc;
}

.color2
{
    background-color:#def654;
}


.color3
{
    background-color:#999aaa;
}


.color4
{
    background-color:orchid;
}

/* Colors */