.container-fluid
{
    padding:5px;
}

.about-case2 .img
{
   border: linen;
   padding: none;
   margin: auto;
}



.w-90
{
    width:90%;
}


.w-30
{
    width:30%;
}

.w-40
{
    width:40%;
}

.w-60
{
    width:60%;
}


.h-200
{
    height:200px;
}

/*   index.html page Styles      */

.index .card {
    background-color: #b5b5b9;
}





.index .card .card-img-top 
{
    transform:rotate(5deg);
}

.index .card .card-img-top:hover
{
    transform:rotate(15deg) scale(1.1);
    transition-property:transform;
    transition-duration:2s;
}

.index .bi-arrow-right-circle-fill
{
    color:cadetblue;
}



/* Pagination */
.index .pagination
{
    margin:20px 0px;
}

.index .pagination .page-item
{
margin:0px 10px;
}

.index .pagination .page-link
{
border-radius:20px;
background-color:#0e5dcc;
color:white;
border:none;
}

.index .pagination .page-link:hover
{
    background-color:#828385;
}
/* Pagination */



.index .progress
{
    height:10px;
}


.index .carousel-item img
{
    height:500px;
}



 .navbar-nav .nav-item
{
    margin:0px 10px;
}



.index .accordion-body .list-group .list-group-item
{
    border:none;
}



/*  Footer Section */
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#0c141c; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
/*  Footer Section */


/*   index.html page Styles      */



/*   Services page Styles      */


.services .card 
{
    border:none;
    padding:30px;
}

.fa-react, .fa-lightbulb, .fa-mobile-alt
{
    font-size:32px;
    margin-top:30px;
}

.services .card .card-title
{
    letter-spacing:1px;
    padding-bottom:5px;
    font-size:18px;
    font-weight:bold;
}

.services .card .card-text
{
    line-height:200%;
    text-align:justify;

}


.services hr
{
    margin:30px 0px;
}
/*   Services page Styles      */



/*   RESPONSIVE STYLES */





/* index.html page Mobile & Tabs */
@media only screen and (min-width:0px) and (max-width:768px)
{


.container-fluid
{
    padding:5px 10px;
}


    .card .card-img-top
    {
        width:40%;
    }

   
    .card .card-body .card-title
    {
        font-size:18px;
    }


    .card .card-body .card-text
    {
        font-size:14px;
    }



    .card .card-body .btn
    {
        width:100%;
    }

/* Pagination */

.pagination
{
    margin:0;
}

.pagination .page-item
{
margin:0px 2px;
}



/* Pagination */





}
/* index.html page Mobile & Tabs */








/*   RESPONSIVE STYLES */